* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(120deg, #cc8de9, #7000a3);
    color: rgb(253, 253, 253);
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
}

header{
    font-size: 1.8rem;
}

header,
form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button{
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
}

form button{
    color: #7c1696;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}
form button:hover{
    background: #452d4d;
    color: white;
}

img {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}