body{
    background-color:black;
}

.clock{
    color:rgb(107, 12, 233);
    position:absolute;
    top:30%;
    right:30%;
    font-family: Impact, sans-serif;
    font-size: 150px;
    letter-spacing: 7px;
    
}

